.form-input {
  display: flex;
  background-color: #212121;
  border-radius: 5px;
  align-items: center;
  width: 100%;
  grid-column: span 2;
}

input {
  height: 2.5rem;
  width: 95%;
  border: none;
  font-size: 16px;
  background-color: #212121;
  color: white;
  padding-left: 0.5rem;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border: none;
}