.add-location-container {
  height: 100%;
  width: 100%;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Geneva;
  color: white;
  flex-direction: column;

  .top {
    display: flex;
    width: 50%;
    align-self: flex-start;
    justify-content: space-between;
    margin-left: 5.5rem;
    font-size: 32px;
    font-weight: bold;

    a {
      color: white;
    }
  }

  .add-location-form {
    margin-top: 1.5rem;
    height: 80%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .section {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .footer {
      grid-column: span 2;
      border-top: solid 0.2rem #212121;
      width: 35%;
      justify-self: start;
      margin-top: 2rem;
      margin-left: 6rem;

      button {
        margin-top: 1rem;
        height: 2.5rem;
        font-size: 100%;
        border: none;
        white-space: nowrap;
        background-color: #CA5441;
        color: white;
        font-weight: bold;
        width: 25%;
        border-radius: 5px;
      }

      button:hover {
        color: rgb(36, 36, 36);
        transition: color 0.4s ease;
        cursor: pointer;
      }

      button:focus {
        outline: none;
        border: none;
      }
    }
  }
}